<head>
	<title>Qometa - HR штука</title>

	<link rel="icon" type="image/png" href="/comets.png" />

	<link rel="stylesheet" href="/vendors/codemirror/lib/codemirror.css">
	<link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">

	<script src="/vendors/codemirror/lib/codemirror.js"></script>

	<script src="/vendors/codemirror/mode/javascript/javascript.js"></script>
	<script src="/vendors/codemirror/mode/php/php.js"></script>
	<script src="/vendors/codemirror/mode/htmlmixed/htmlmixed.js"></script>
	<script src="/vendors/codemirror/mode/sql/sql.js"></script>
	<script src="/vendors/codemirror/mode/css/css.js"></script>
	<script src="/vendors/codemirror/mode/coffeescript/coffeescript.js"></script>
</head>

<body>
{{>pages_drawer}}
</body>
