@fontFamilyDefault: 'Ubuntu', sans-serif;

@sizeFontDefault: .9rem;
@sizeFontSmall: .9rem;

@colorPrimary: #3497ff;
@colorDanger: #ff000f;
@colorSecondary: #dddddd;
@colorAction: #15CD72;

@colorTextDefault: #666;
@colorTextSecondary: rgba(0, 0, 0, .5);

@colorTextLight: rgba(255, 255, 255, .9);

@colorBorderDefault: rgba(0, 0, 0, .1);
@colorBackgroundDefault: #f9f9f9;
@colorBackgroundLight: rgba(255, 255, 255, .2);

@radiusDefault: 4px;
