<template name="default_layout">
	<div class="default_layout container">
		{{>auth_user_profile_modal}}
		{{#nav class='nav__navbar'}}
			<a href="/quests/jobs" class="nav_logo"><img src="/comets-512.png"></a>
			<a href="/quests/jobs">Вакансии</a>
			<a href="/quests/candidates">Архив кандидатов</a>
			{{!--
			<a href="/quests/settings">Настройки</a>\
			--}}
			{{#modal_button cid='profile'}}
				<a href="#" class="nav__navbar__pullRight"><i class="fa fa-user"></i> {{currentUser.profile.name}}</a>
			{{/modal_button}}
		{{/nav}}
		{{#if Template.subscriptionsReady}}
			{{>Template.dynamic template=template}}
		{{else}}
			{{>spinner}}
		{{/if}}
	</div>
</template>