<template name="quests_candidates_page">
	<div class="quests_page quests_candidates_page">
		<div class="quests_ui_workbench">
			<div class="quests_ui_workbench_header">
				<div class="quests_ui_workbench_header_title">
					<h2>Кандидаты</h2>
				</div>
			</div>

			<div class="quests_ui_workbench_statusBar">
				<div>Архив содержит кандидатов, в том числе, претендовавших на вакансии, которых больше нет</div>
			</div>

			<div class="quests_ui_workbench_content">

				{{>quests_candidates_sidebar}}
				<div class="quests_ui_workbench_main">
					{{>quests_candidates_list candidates=(quests_listCandidates null (quests_routerParam 'status'))}}
				</div>


			</div>


		</div>
	</div>
</template>