<template name="quests_candidates_details_page">
	<div class="quests_page quests_candidates_page">
		<div class="quests_ui_workbench">
			<div class="quests_ui_workbench_header">
				<div class="quests_ui_workbench_header_title">
					<h3>{{quests_activeCandidate.name}}</h3>
					<h4>{{quests_activeCandidate.status}}</h4>
				</div>
			</div>


			<div class="quests_ui_workbench_content">

				{{>quests_candidates_sidebar}}
				<div class="quests_ui_workbench_main">
					{{#if (_eq quests_activeCandidate.status 'pending')}}
						<div class="info">
							<p>Кандидат еще не проходил тестирование.</p>

							<p>Для того, чтобы пригласить кандидата, отправте ему ссылку:</p>
							<input class="input" name="url" type="text"
										 value="{{quests_link 'candidate' _candidate=quests_activeCandidate._id _job=quests_activeCandidate._job absolute=true}}"
										 onfocus="this.select();" onmouseup="return false;">
						</div>
					{{else}}
						<h2>{{quests_activeCandidate.interview.job.title}}</h2>

						<p>{{quests_activeCandidate.interview.job.description}}</p>
						<hr>
						<br>

						<h2>Тесты</h2>
						{{#each quest in (quests_values quests_activeCandidate.interview.quests)}}
							{{#modal cid=quest._id class='modal__large'}}
								<h2>Оценка результатов</h2>
								<div class="flex_row">
									<div class="flex_item">
										<h3>{{quest.title}}</h3>
										<p>{{quest.description}}</p>
									</div>
									<div class="flex_item">
										<h3>Ответ кандидата</h3>
									</div>
								</div>
							{{/modal}}
							{{#modal_button cid=quest._id}}
								<div class="grid_row">
									<div class="grid_col grid_col__primary">
										<div>{{quest.title}}</div>
										<small>{{quest.lang}}</small>
									</div>
									<div class="grid_col">
										<button class="button button__secondary">Оценить</button>
									</div>
								</div>
							{{/modal_button}}
						{{/each}}
					{{/if}}
				</div>

			</div>


		</div>
	</div>
</template>