<template name="quests_interviews_page">
	<div class="quests_interviews_page box__padding flex_row">
		<div class="flex_item">
			{{#modal cid='candidateFormModal'}}
				<h3>Новй кандидат</h3>
				{{>quests_candidate_form onSubmit=onSubmitCandidate}}
			{{/modal}}

			{{#modal_button cid='candidateFormModal'}}
				<button class="button box__marginBottom">Назначить собеседование</button>
			{{/modal_button}}

			{{#each candidate in candidates}}
				{{#badge title=candidate.name status=candidate.status link=(quests_link 'interviews' _candidate=candidate._id) isActive=(quests_isActive '_candidate' candidate._id)}}
					<div class="toolbar">
						{{#_delete collection='quests_candidates' _id=candidate._id}}
							<button class="button"><i class="fa fa-remove"></i></button>
						{{/_delete}}
					</div>
				{{/badge}}
			{{/each}}
		</div>
		<div class="flex_item">
			{{#if activeCandidate}}
				<h3>{{activeCandidate.name}}</h3>
				{{#if (_eq activeCandidate.status 'pending')}}
					<p>Отправте кандидату эту ссылку для прохождения собеседования</p>
				{{/if}}
				<input
					class="input"
					name="url"
					type="text"
					value="{{quests_link
					'candidate'
					_candidate=activeCandidate._id
					_job=activeCandidate._job
					}}"
					onfocus="this.select();" onmouseup="return false;"
				>
			{{/if}}
			{{#each quest in activeCandidateQuests}}
				{{>badge
				title=quest.title
				status=quest.status
				link=(quests_link
					'interviews'
					_candidate=activeCandidate._id
					_job=activeCandidate._job
					_quest=quest._id
				)}}
			{{/each}}
		</div>
		<div class="flex_item">
			{{#if activeQuest}}
				{{activeQuest._id}}
				<hr>
				{{>player _candidate=activeCandidate._id _quest=activeQuest._id}}
				<h4>Оценка</h4>
				<select name="">
					<option value="">Ожидает оценки</option>
					<option value="">Не верно</option>
					<option value="">Верный ход рассуждений</option>
					<option value="">Верно выолнено</option>
					<option value="">Отлично выполнено</option>
				</select>
			{{/if}}
		</div>
	</div>
</template>