<template name="quests_candidates_list">

	{{>empty val=candidates.count text='В этом списке нет кандидатов'}}

	{{#each candidate in candidates}}

		{{#modal cid=candidate._id}}
			{{>quests_candidate_form doc=candidate}}
		{{/modal}}

		{{#if candidate.interview.quests}}
			{{#modal cid=(_id entity='candidate' action='review' _id=candidate._id) class='modal__large'}}
				{{>quests_player candidate=candidate}}
			{{/modal}}
		{{/if}}

		{{#modal cid=(_id entity='candidate' action='link' _id=candidate._id)}}
			<p>Для того, чтобы пригласить кандидата, отправте ему ссылку:</p>
			<input class="input" type="text"
						 value="{{quests_link 'candidate' _candidate=candidate._id _job=candidate._job absolute=true}}"
						 onfocus="this.select();" onmouseup="return false;">
		{{/modal}}

		<div class="grid_row">
			{{#modal_button cid=candidate._id}}
				<a href="#" class="grid_col grid_col__primary">
					<div>{{candidate.name}} </div>
					<small>{{candidate.email}}</small>
				</a>
			{{/modal_button}}
			<div class="grid_col">

				{{#if (_eq candidate.status 'pending')}}
					{{#modal_button cid=(_id entity='candidate' action='link' _id=candidate._id)}}
						<button class="button">Отправить ссылку</button>
					{{/modal_button}}
				{{/if}}

				{{#if (_eq candidate.status 'startedInterview')}}
					{{#modal_button cid=(_id entity='candidate' action='review' _id=candidate._id)}}
						<button class="button button__secondary">Наблюдать</button>
					{{/modal_button}}
				{{/if}}

				{{#if (_eq candidate.status 'finishedInterview')}}
					{{#modal_button cid=(_id entity='candidate' action='review' _id=candidate._id)}}
						<button class="button button__primary">Оценить</button>
					{{/modal_button}}
				{{/if}}

				{{#if (_eq candidate.status 'reviewFinished')}}
					{{#modal_button cid=(_id entity='candidate' action='review' _id=candidate._id)}}
						<button class="button button__secondary">Оценка {{candidate.interview.score}}
							/ {{candidate.interview.maxScore}}</button>
					{{/modal_button}}
				{{/if}}

				{{#modal_button cid=candidate._id}}
					<button class="button button__secondary"><i class="fa fa-edit"></i></button>
				{{/modal_button}}
				{{>delete collection='quests_candidates' _id=candidate._id}}
			</div>

		</div>

	{{/each}}

</template>