<template name="quests_candidates_sidebar">
	<div class="quests_ui_workbench_sidebar">
		{{#nav class='nav__sidebar'}}
			{{>nav_link text='Ожидают тестирования' href=(quests_link 'candidates/pending')}}
			{{>nav_link text='Ожидают оценки' href=(quests_link 'candidates/finishedInterview')}}
			{{>nav_link text='Проходят тестирование' href=(quests_link 'candidates/startedInterview')}}
			{{>nav_link text='Оценены' href=(quests_link 'candidates/reviewFinished')}}
		{{/nav}}
	</div>
</template>