@import '/features/ui/client/config.less';

.auth_layouts_default
{
  background: radial-gradient(at center center, rgb(31, 54, 73) 0%, rgb(23, 37, 61) 44%, rgb(4, 13, 17) 100%);
  color: rgba(255, 255, 255, .6);
  a
  {
    color: #fff;
  }
}