<template name="auth_layouts_default">
	<div class="layout auth_layouts_default">
		{{#if Template.subscriptionsReady}}
			{{>Template.dynamic template=template}}
		{{else}}
			{{>spinner}}
		{{/if}}
	</div>
</template>