<template name="auth_pages_forgot">
	<div class="page auth_pages_forgot">
		<div class="container container__micro flex_col">
			{{#form onSubmit=onSubmit}}
				<h2>Восстановление пароля</h2>
				<div class="form_input">
					<label>Электронная почта</label>
					<input class="input" name="email" type="text" placeholder="name@example.com">
				</div>
				<br>

				<div class="form_input">
					<button class="button button__primary button__block" type="submit">Восстановить пароль</button>
				</div>

				<div class="flex_row">
					<div class="flex_item flex_item__50" style="width: 50%">
						<a href="/auth/register">Зарегистрироваться</a>
					</div>
					<div class="flex_item flex_item__50 typo__alignRight" style="width: 50%">
						<a href="/auth/login">Войти</a>
					</div>
				</div>
			{{/form}}
		</div>
	</div>
</template>