<template name="auth_pages_login">
	<div class="page auth_pages_login">
		<div class="container container__micro flex_col">
			<div style="text-align: center">
				<img src="/features/auth/users-white.png" alt="" style="width: 64px">
			</div>
			<br>

			{{#form onSubmit=onSubmit}}
				<div class="form_input">
					<input class="input input__email" name="email" type="text" placeholder="Ваша электронная почта">
				</div>
				<div class="form_input">
					<input class="input" name="password" type="password" placeholder="Ваш пароль">
				</div>
				<br>
				<div class="form_input">
					<button class="button button__primary button__block">Войти</button>
				</div>

				<div class="flex_row">
					<div class="flex_item flex_item__50" style="width: 50%">
						<a href="/auth/forgot">Забыли пароль?</a>
					</div>
					<div class="flex_item flex_item__50 typo__alignRight" style="width: 50%">
						<a href="/auth/register">Зарегистрироваться</a>
					</div>
				</div>

			{{/form}}
		</div>
	</div>
</template>