<template name="auth_pages_register">
	<div class="page auth_pages_register">
		<div class="container container__micro flex_col">
			{{#form onSubmit=onSubmit}}
				<div style="text-align: center">
					<img src="/features/auth/users-white.png" alt="" style="width: 64px">
				</div>
				<br>
				<div class="form_input">
					<input class="input" name="profile.name" type="text" placeholder="Ваше имя" data-regex=".+">
				</div>
				<div class="form_input">
					<input class="input" name="email" type="text" placeholder="Электронная почта" data-regex="@+">
				</div>
				<div class="form_input">
					<input class="input" name="password" type="password" placeholder="Придумайте пароль" data-regex="[a-z]+">
				</div>
				<br>

				<div class="form_input">
					<button class="button button__primary button__block">Зарегистрироваться</button>
				</div>

				<div class="flex_row">
					<div class="flex_item flex_item__50" style="width: 60%">
						Уже зарегистрированы?
					</div>
					<div class="flex_item flex_item__50 typo__alignRight" style="width: 40%">
						<a href="/auth/login">Войти</a>
					</div>
				</div>

			{{/form}}
		</div>
	</div>
</template>