<template name="auth_pages_reset">
	<div class="page auth_pages_reset">
		<div class="container container__micro flex_col">
			{{#form onSubmit=onSubmit}}
				<h2>Установите новый пароль</h2>
				<div class="form_input">
					<label>Новый пароль</label>
					<input class="input" name="password" type="text" placeholder="sfgka234123!@" data-regex="[a-z0-9]{3,}">
				</div>
				<button class="button button__primary button__block">Поменять пароль</button>
			{{/form}}
		</div>
	</div>
</template>