<template name="quests_settings_page">
	<div class="quests_ui_workbench">
		<div class="quests_ui_workbench_header">
			<div class="quests_ui_workbench_header_title">
				<h2>Настройки</h2>
			</div>
		</div>

		<div class="quests_ui_workbench_content">
			<div class="quests_ui_workbench_sidebar">
				<div class="nav nav__sidebar">
					<a href="">Ваш профиль</a>
					<a href="">Общий доступ</a>
				</div>
			</div>
			<div class="quests_ui_workbench_main">
				Этот раздел, естественно, пока не работает :)
			</div>
		</div>

	</div>
</template>