<template name="auth_user_profile_modal">
	{{#modal cid='profile'}}
		<div class="modal_header">
			<h2>Ваш профиль</h2>
		</div>
		{{#form onSubmit=onSubmit}}
			<div class="form_input">
				<label>Ваше имя</label>
				<input class="input" name="name" type="text" value="{{currentUser.profile.name}}" data-regex=".+">
			</div>
			<button class="button" type="submit">Изменить имя</button>
			&nbsp;
			<a href="#" class="_logout">Выйти</a>
		{{/form}}
	{{/modal}}
</template>