<template name="badge">
	<a {{hrefAttr}} class="badge {{class}} {{isActiveClass}}">
		<div class="badge_row badge_row__title">{{title}}</div>
		{{#if status}}
			<div class="badge_row badge_row__status">{{status}}</div>
		{{/if}}
		{{#if Template.contentBlock}}
			<div class="badge_extension">
				{{>Template.contentBlock}}
			</div>
		{{/if}}
	</a>
</template>