@import '../../../client/config.less';

.badge
{
  position:        relative;
  display:         flex;

  height:          3rem;
  padding:         .5rem;

  flex-direction:  column;
  justify-content: center;

  overflow:        hidden;

  &:hover
  {
    .badge_extension
    {
      transform: translateX(0);
    }
  }

}

.badge_row
{
  height:      1rem;
  line-height: 1rem;
  font-size:   @sizeFontSmall;
}

.badge_row__status
{
  color: @colorTextSecondary;
}

.badge_extension
{
  position:        absolute;
  top:             0;
  right:           0;

  display:         flex;
  width:           auto;
  height:          100%;

  padding:         0 1rem;

  flex-direction:  column;
  justify-content: center;

  transform:       translateX(100%);
  z-index:         1;
}