@import '/features/ui/client/config.less';

.button
{
  display:          inline-block;
  padding:          .5rem 2rem;

  font-size:        @sizeFontSmall;
  line-height:      1rem;

  border:           1px solid @colorBorderDefault;
  border-radius:    @radiusDefault / 2;
  background-color: @colorBackgroundDefault;

  cursor:           pointer;
}

.button__compact
{
  padding:          .5rem 1rem;
}

.button__block
{
  width:      100%;
  text-align: center;
}

.button__large
{
  padding:       1rem 2rem;
  font-size:     1rem;
  border-radius: @radiusDefault * 4;
}

.button__primary
{
  color:        #fff;
  background:   @colorPrimary;
  border-color: @colorPrimary;
}

.button__action
{
  color:      #fff;
  background: @colorAction;
}

.button__danger
{
  color:      @colorDanger;
  background: transparent;
}

.button__secondary
{
  background: transparent;
  color:      @colorTextSecondary;
}

.button
{
  &:hover
  {
    box-shadow: 0 0 .5rem 0 darken(@colorBackgroundDefault, 10%);
  }
  &:active
  {
    background-color: fade(@colorBackgroundDefault, 10%);
  }
}