.flex_row
{
  display:   flex;
  flex-flow: wrap;
}

.flex_col
{
  display:         flex;
  flex-direction:  column;
  justify-content: center;
  .flex_item
  {
    flex: 0 0 auto;
  }
}

.flex_item
{
  flex:       auto;
  min-width:  1rem;
  min-height: 1rem;
}