@import '/features/ui/client/config.less';

.form
{
  display: inline-block;
  width:   100%;

  margin:  0;
  padding: 0;

  h3
  {
    margin-bottom: .5rem;
  }
}

.form_error
{
  margin-bottom:    1rem;
  padding:          .5rem;
  line-height:      1rem;
  text-align:       center;
  color:            #fff;
  background-color: @colorDanger;
  border-radius:    @radiusDefault;
}

.form_input
{
  margin-bottom: 1rem;
}