@import '../../../client/config.less';

.grid_row
{
  display:       flex;
  width:         100%;
  height:        4rem;

  align-items:   center;

  font-size:     @sizeFontSmall;

  border-bottom: 2px solid @colorBorderDefault;
}

.grid_row:hover
{
  border-color: #ccc;
}

.grid_col
{
  padding: 0 .5rem;
  flex:    0 0 auto;
}

.grid_col:first-child
{
  padding-left: 0;
}

.grid_col:last-child
{
  padding-right: 0;
}

.grid_col__primary
{
  flex: 1 1 auto;
}