@import '../../../client/config.less';

.input
{
  position:           relative;
  width:              100%;
  height:             2rem;
  margin:             0;
  padding:            .5rem;

  font-size:          @sizeFontSmall;

  border:             1px solid @colorBorderDefault;
  border-radius:      @radiusDefault;

  background:         #fff;

  resize:             none;
  outline:            none;

  -webkit-appearance: none;
}

.input
{
  &:focus
  {
    border-color: @colorPrimary;
  }

  &:before
  {
    position:   absolute;
    top:        0;
    left:      0;

    display:    block;
    width:      1rem;
    height:     1rem;
    background: red;
    content:    'asdsad';

    z-index:    300;
  }
}

.input__invalid
{
  border-color:     @colorDanger;
  background-color: fade(@colorDanger, 5%);
}

.input__email
{

}

.input__email:before
{

}

textarea.input
{
  min-height: 10rem;
}