@import "../../../client/config.less";

*
{
  box-sizing: border-box;
  transition: background-color .4s, box-shadow .4s, border-color .4s, transform .4s, opacity .4s, visibility .4s;

  outline:    none;
}

html, body
{
  width:       100%;
  height:      100%;

  margin:      0;
  padding:     0;

  font-family: @fontFamilyDefault;
  font-weight: normal;
  line-height: 1.5rem;

  overflow:    hidden;
}

p, pre, div, button, label, select, input, h1, h2, h3, h4, h5
{
  font-family: @fontFamilyDefault;
}

body
{
  font-size: @sizeFontDefault;
  color:     @colorTextDefault;
}

a
{
  text-decoration: none;
  color:           @colorTextDefault;
}

hr
{
  margin:        .5rem 0;
  border:        none;
  border-bottom: 2px solid @colorBorderDefault;
}

h1, h2, h3, h4
{
  margin:      0 0 2rem 0;
  font-weight: normal;
}

h2
{
}

h3
{
  padding:     0;
  line-height: 2rem;
}

pre
{
  margin:      0;
  padding:     0;
  white-space: pre-line;
}

.__active
{
  background: @colorBackgroundDefault;
}

.__underlined
{
  border-bottom: 1px solid @colorBorderDefault;
}

.__pullRight
{
  float: right;
}