<template name="modal">
	<div class="modal {{class}} {{activeClass}}">

		<div class="modal_content">
			<a href="#" class="_close modal_content_close">
				<div></div>
			</a>
			{{>Template.contentBlock}}
		</div>
	</div>
</template>