@import '../../../client/config.less';

.modal
{
  position:         fixed;
  top:              0;
  left:             0;

  display:          flex;
  width:            100%;
  height:           100%;

  flex-direction:   column;
  justify-content:  center;
  align-items:      center;

  background-color: rgba(0, 0, 0, .1);
  z-index:          -1;
  visibility:       hidden;
  opacity:          0;
}

.modal__active
{
  z-index:    200;
  visibility: visible;
  opacity:    1;
}

.modal__large
{
  padding: 3rem;
  .modal_content
  {
    width:  100%;
    height: 100%;
  }
  .modal_content_close
  {
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
  }
}

.modal_header
{
  h2
  {
    margin: 0 0 1rem 0;
  }
}

.modal_content
{
  position:      relative;

  width:         50%;
  padding:       3rem;

  border-radius: @radiusDefault;

  box-shadow:    0 0 .5rem 0 darken(@colorBackgroundDefault, 10%);
  background:    #fff;

  overflow:      auto;

  .input
  {
    font-size: 1rem;
  }

  input.input
  {
    line-height: 3rem;
    height:      3rem;
  }

  select.input
  {
    height: 3rem;
    option
    {
      line-height: 3rem;

    }
  }

  textarea.input
  {
    padding: 1rem .5rem;
  }
}

.modal_content_close
{
  position:      absolute;
  top:           8px;
  right:         8px;

  width:         32px;
  height:        32px;

  border-radius: 50%;
  border:        1px solid @colorBorderDefault;
  background:    #fff;
  z-index:       100;
}

.modal_content_close:before
{
  position:   absolute;
  top:        7px;
  left:       15px;
  content:    '';
  width:      1px;
  height:     1rem;
  background: #ccc;
  transform:  rotate(45deg);
}

.modal_content_close:after
{
  position:   absolute;
  top:        7px;
  right:      15px;
  width:      1px;
  height:     16px;
  content:    '';
  background: #ccc;
  transform:  rotate(-45deg);
}