@import '../../../client/config.less';

.nav
{
  display: flex;

  a
  {
    font-size:   @sizeFontSmall;
    font-weight: normal;
  }
}

.nav__navbar
{
  margin-top: 1rem;
  a
  {
    display:       inline-block;
    margin-bottom: 2rem;
    padding:       0 1rem;
    flex:          0 0 auto;
    line-height:   3rem;
    border-bottom: 2px solid transparent;
  }
  a:hover
  {
    border-bottom: 2px solid @colorSecondary;
  }
  a.__active
  {
    border-bottom: 2px solid @colorPrimary;
    background:    transparent;
  }
  img
  {
    height: 3rem;
  }

  .nav__navbar__pullRight
  {
    margin-left: auto;
  }

  .nav_logo
  {
    line-height:  1rem;
    padding:      0 1rem 0 0;
    border-color: transparent !important;
  }
}

.nav__sidebar
{
  flex-direction: column;
  a
  {
    display:     inline-block;
    flex:        0 0 auto;
    line-height: 2rem;
  }
  a:hover
  {
    color: @colorSecondary;
  }
  a.__active
  {
    color:      @colorPrimary;
    background: transparent;
  }

  .nav_link__sub
  {
    padding-left: 1rem;
  }
}