<template name="select">
	<select name="{{name}}" class="input {{class}}">
	{{#each option in options}}
		<option value="{{option._id}}" {{selectedAttr option}}>{{title option}}</option>
	{{/each}}
	</select>
</template>