@import '../../../client/config';

.spinner
{
  position:        fixed;
  top:             0;
  left:            0;

  display:         flex;
  width:           100%;
  height:          100%;

  justify-content: center;
  align-items:     center;

  background:      rgba(255, 255, 255, .5);
  z-index:         1000;
}

.spinner_animated1
{

  @spinnerBorderColor: rgb(70, 255, 0);
  position:      absolute;
  flex:          auto;
  width:         5rem;
  height:        5rem;

  border-color:  @spinnerBorderColor transparent transparent transparent;
  border-width:  4px;
  border-style:  solid;
  border-radius: 50%;

  animation:     spinner_spin 1s linear infinite;
}

.spinner_animated2
{

  @spinnerBorderColor: rgb(88, 170, 255);
  position:      absolute;
  flex:          auto;
  width:         5rem;
  height:        5rem;

  border-color:  @spinnerBorderColor transparent transparent transparent;
  border-width:  4px;
  border-style:  solid;
  border-radius: 50%;

  animation:     spinner_spin 1.25s linear infinite;
}

@keyframes spinner_spin
{
  from
  {
    transform: rotate(0deg);
  }
  to
  {
    transform: rotate(360deg);
  }
}
