<template name="quests_player">
	<div class="quests_player">
		{{#if candidate.interview}}
			<div class="quests_ui_workbench">
				<div class="quests_ui_workbench_header">
					<div class="quests_ui_workbench_header_title">
						<h3>{{candidate.name}} <small>- {{candidate.interview.job.title}}</small></h3>
						<h4>{{candidate.status}}</h4>
					</div>
					{{#if (_eq quest.status 'finished')}}
						<div class="quests_ui_workbench_header_tools">
							Общая оценка кандидата: {{interviewScore}} / {{interviewMaxScore}}
						</div>
					{{/if}}
				</div>

				<div class="quests_ui_workbench_content">

					<div class="quests_ui_workbench_sidebar">
						{{#each q in (quests_values candidate.interview.quests)}}
							{{>badge title=q.title status=q.status onClick=onBadgeClick quest=q isActive=(_eq q._id quest._id)}}
						{{/each}}
					</div>
					<div class="quests_ui_workbench_main">
							<pre>{{quest.description}}</pre>
							<textarea class="input" name="" placeholder=""></textarea>
							{{#if (_eq quest.status 'finished')}}
								<br>
								<a href="#" class="_play button">
									<i class="fa fa-play-circle"></i> Воспроизвести
								</a>
								<br><br>
								{{>select options=scores value=quest.score}}
							{{/if}}
					</div>
				</div>
			</div>
		{{/if}}
	</div>
</template>