@import '../../../../client/config.less';

.quests_ui_workbench
{
  display:        flex;
  height:         100%;

  flex-direction: column;
}

.quests_ui_workbench_header
{
  flex:          0 0 auto;

  display:       flex;

  width:         100%;
  height:        4rem;

  align-items:   center;

  border-bottom: 2px solid @colorBorderDefault;

  h2
  {
    margin:      0;
    padding:     0;
    font-size:   2rem;
    line-height: 2rem;
  }

  h3
  {
    margin:      0;
    padding:     0;
    font-size:   1.5rem;
    line-height: 2rem;
  }

  h4
  {
    margin:      0;
    padding:     0;
    font-size:   @sizeFontSmall;
    line-height: 2rem;
    color:       @colorSecondary;
  }
}

.quests_ui_workbench_header_title
{
  flex: auto;
}

.quests_ui_workbench_header_tools
{
  flex: 0 0 auto;
}

.quests_ui_workbench_statusBar
{
  display:       flex;
  height:        3rem;

  flex:          0 0 auto;
  align-items:   center;

  border-bottom: 2px solid @colorBorderDefault;

  font-size:     @sizeFontSmall;
  font-weight:   normal;
}

.quests_ui_workbench_content
{
  display:    flex;
  height:     100%;
  margin-top: 2rem;
  flex:       1 1 auto;
}

.quests_ui_workbench_sidebar
{
  flex:   0 0 auto;
  width:  20%;
  height: 100%;
}

.quests_ui_workbench_main
{
  flex:          auto;
  width:         80%;
  height:        100%;
  padding:       3rem;

  border:        2px solid @colorBorderDefault;
  border-radius: @radiusDefault;

  overflow:      scroll;

  p
  {
    margin:  0 0 1rem 0;
    padding: 0;
  }

}