<template name="quests_admin_page">
	{{#modal cid='jobFormModal'}}
		{{>quests_jobs_form onSubmit=onSubmitJob clearAfterSubmit=true}}
	{{/modal}}

	<div class="quests_admin_page">


		<div class="quests_ui_workbench">
			<div class="quests_ui_workbench_header">
				<div class="quests_ui_workbench_header_title">
					<h2>Вакансии</h2>
				</div>
				<div class="quests_ui_workbench_header_tools">
					{{#modal_button cid='jobFormModal'}}
						<a href="#" class="button button__secondary box__marginBottom">Добавить вакансию</a>
					{{/modal_button}}
				</div>
			</div>
			<div class="quests_ui_workbench_content">
				<div class="quests_ui_workbench_main">
					{{>empty val=jobs.count text='Вакансий пока не добавлено'}}
					{{#each job in jobs}}
						{{#modal cid=job._id}}
							{{>quests_jobs_form onSubmit=onSubmitJob doc=job}}
						{{/modal}}
						<a href="/quests/jobs/{{job._id}}" class="grid_row">
							<div class="grid_col grid_col__primary">{{job.title}}</div>
							<div class="grid_col">
								{{>delete collection='quests_jobs' _id=job._id}}
							</div>
						</a>
					{{/each}}
				</div>
			</div>
		</div>

		<div class="quests_admin_page_col quests_admin_page_col__quests">
			{{#if activeJob}}
				{{#modal_button cid='jobQuestFormModal'}}
					<a href="#" class="button box__marginBottom">Добавить тест</a>
				{{/modal_button}}
				{{#each quest in quests}}
					{{#badge title=quest.title isActive=(quests_isActive '_quest' quest._id) status=quest.lang link=(link _job=activeJob._id _quest=quest._id)}}
						<div class="toolbar">
							{{#modal_button cid=quest._id}}
								<button class="button"><i class="fa fa-edit"></i></button>
							{{/modal_button}}
						</div>
					{{/badge}}

				{{/each}}
			{{/if}}
		</div>
		{{!--
		<div class="quests_admin_page_col quests_admin_page_col__editor">
			{{#modal_button cid='candidateFormModal'}}
				<a href="#" class="button box__marginBottom">Добавить кандидата</a>
			{{/modal_button}}
		</div>
		--}}
	</div>
</template>
