<template name="quests_jobs_form">
	{{#form onSubmit=onSubmit doc=doc}}
		<h3>Редактирование вакансии</h3>
		<div class="form_input">
			<input class="input" name="title" type="text" placeholder="Название вакансии" data-regex=".+">
		</div>
		<div class="form_input">
			<textarea class="input" name="description" placeholder="Описание вакансии" data-regex=".+"></textarea>
		</div>
		<div class="form_input">
			<button class="button">Сохранить</button>
		</div>
	{{/form}}
</template>