<template name="quests_jobs_header">
	{{#modal cid=quests_activeJob._id}}
		{{>quests_jobs_form onSubmit=onSubmitJob doc=quests_activeJob}}
	{{/modal}}
	<div class="quests_ui_workbench_header">
		<div class="quests_ui_workbench_header_title">
			<h3>Вакансия: {{quests_activeJob.title}}</h3>
			<h4>{{_dateTime quests_activeJob.createdAt}}</h4>
		</div>
		<div class="quests_ui_workbench_header_tools toolbar">
			{{#modal_button cid=quests_activeJob._id}}
				<a href="#" class="button button__secondary">Редактировать</a>
			{{/modal_button}}
		</div>
	</div>
</template>