<template name="quests_job_page">

	<div class="quests_page quests_job_page">
		<div class="quests_ui_workbench">
			{{>quests_jobs_header}}
			<div class="quests_ui_workbench_content">
				{{>quests_jobs_sidebar}}
				<div class="quests_ui_workbench_main">
					<div class="info">
						Обратите внимание, что это описание видит кандидат, перед началом тестирования.
					</div>
					<pre>{{quests_activeJob.description}}</pre>
				</div>
			</div>
		</div>
	</div>
</template>