<template name="quests_job_quests_page">
	{{#modal cid='jobQuestFormModal'}}
		{{>quests_quests_form clearAfterSubmit=true}}
	{{/modal}}

	<div class="quests_page quests_job_page">
		<div class="quests_ui_workbench">
			{{>quests_jobs_header}}

			<div class="quests_ui_workbench_content">

				{{>quests_jobs_sidebar}}
				<div class="quests_ui_workbench_main">
					<div style="text-align: right">
						{{#modal_button cid='jobQuestFormModal'}}
							<button class="button button__action">Добавить тест</button>
						{{/modal_button}}
					</div>
					<br>
					{{>empty var=quests_listQuests.count text='Тесты пока не добавлены'}}
					{{#each quest in quests_listQuests}}
						{{#modal cid=quest._id}}
							{{>quests_quests_form doc=quest}}
						{{/modal}}
						<div class="grid_row">
							<div class="grid_col grid_col__primary">
								<div>{{quest.title}}</div>
								<small>{{quest.lang}}</small>
							</div>
							<div class="grid_col">
								{{#modal_button cid=quest._id}}
									<button class="button button__secondary">Редактировать</button>
								{{/modal_button}}
								{{>delete collection='quests_jobs_quests' _id=quest._id}}
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>