<template name="quests_job_candidates_page">
	{{#modal cid='jobQuestFormModal'}}
		{{>quests_candidate_form clearAfterSubmit=true}}
	{{/modal}}
	<div class="quests_page quests_job_page">
		<div class="quests_ui_workbench">
			{{>quests_jobs_header}}
			<div class="quests_ui_workbench_content">
				{{>quests_jobs_sidebar}}
				<div class="quests_ui_workbench_main">
					{{#unless quests_routerParam 'status'}}
						<div style="text-align: right">
							{{#modal_button cid='jobQuestFormModal'}}
								<button class="button button__action">Добавить кандидата</button>
							{{/modal_button}}
						</div>
						<br>
					{{/unless}}
					{{>quests_candidates_list candidates=quests_listCandidates}}
				</div>
			</div>
		</div>
	</div>
</template>