<template name="quests_jobs_sidebar">
	<div class="quests_ui_workbench_sidebar">
		<div class="nav nav__sidebar">
			{{>nav_link href=(quests_link 'jobs' _job=quests_activeJob._id) text='Описание' direct=true}}
			{{>nav_link href=(quests_link 'jobs' _job=quests_activeJob._id mod='quests') text='Тесты' direct=true}}
			{{>nav_link href=(quests_link 'jobs' _job=quests_activeJob._id mod='candidates') text='Кандидаты' direct=true}}

			{{>nav_link href=(quests_link 'jobs' _job=quests_activeJob._id mod='candidates/pending') text='Ожидают тестирования' class='nav_link__sub'}}
			{{>nav_link href=(quests_link 'jobs' _job=quests_activeJob._id mod='candidates/startedInterview') text='Проходят тестирование' class='nav_link__sub'}}
			{{>nav_link href=(quests_link 'jobs' _job=quests_activeJob._id mod='candidates/finishedInterview') text='Ожидают проверки' class='nav_link__sub'}}
			{{>nav_link href=(quests_link 'jobs' _job=quests_activeJob._id mod='candidates/reviewFinished') text='Оценены' class='nav_link__sub'}}
		</div>
	</div>
</template>