<template name="quests_quests_form">
	{{#form onSubmit=onSubmit doc=doc}}
		<div class="form_input">
			<input name="title" type="text" class="input" data-regex=".+" placeholder="Название теста">
		</div>
		<div class="form_input">
			{{>select name='lang' options=languages}}
		</div>
		<div class="form_input">
			<input class="input" name="minutes" type="text" placeholder="Сколько минут на выполнение?" data-regex="[0-9]+">
		</div>
		<div class="form_input">
			<textarea class="input" name="description" placeholder="Условия задания" data-regex=".+"></textarea>
		</div>
		<div class="form_input">
			<button class="_saveQuest button" type="submit">Сохранить</button>
		</div>
	{{/form}}
</template>