@import '../../../../client/config.less';
.quests_candidate_page
{
  height: 100%;
  color: #fff;


  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
  background: #3f4c6b; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #3f4c6b 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  font-weight: 100;
  font-size: 16px;

  h2
  {
    font-weight: 100;
    margin-bottom: 2rem;
  }

  strong
  {
    font-weight: 400;
  }

  p
  {
    margin-bottom: 2rem;
    font-weight: 100;
  }
}

.quests_candidate_page_job
{
  display: flex;
  flex-flow: nowrap;
}

.quests_candidate_page_job_col
{
  flex: 0 0 auto;
}

.quests_candidate_page_hero
{
  height: 100%;
  padding: 1rem;
}

.quests_candidate_page_hero_content
{
  width: 600px;
  margin: auto;
}

.quests_candidate_page_interview
{
  height: 100%;
  padding: 4rem;

  textarea
  {
    height: 100%;
  }

  .quests_candidate_page_job
  {
    height: 100%;
  }

  .CodeMirror
  {
    border: 0px solid #eee;
    font-size: 14px;
    height: 100%;
    div
    {
      font-family: monospace;
    }
  }

}