.quests_candidate_interview_page
{
  height:  100%;
  padding: 4rem;



  .quests_ui_workbench_main
  {
    padding: 0;
  }

  .CodeMirror
  {
    border:    none;
    font-size: 14px;
    height:    100%;
    div
    {
      font-family: monospace;
    }
  }

}