<template name="quests_candidate_interview_page">

	<div class="quests_candidate_interview_page">
		<div class="quests_ui_workbench">
			<div class="quests_ui_workbench_header">
				<div class="quests_ui_workbench_header_title">
					<h2>Вакансия: {{quests_activeJob.title}}</h2>
				</div>
			</div>
			<div class="quests_ui_workbench_statusBar">
				<div><i class="fa fa-info-circle"></i> Для выполнения используйте редактор на странице. Использовать внешний редактор и копировать нельзя!</div>
			</div>
			<div class="quests_ui_workbench_content">
				<div class="quests_ui_workbench_sidebar" style="padding-right: 1rem">
					<h3>{{startedQuest.title}} <br><small>задания {{startedQuestInfo.index}} из {{startedQuestInfo.count}}</small></h3>
					<pre>{{startedQuest.description}}</pre>
					<br>
					<hr>
					Осталось: {{timeLeft.minutes}} мин {{timeLeft.seconds}} сек
					<hr>
					<br>
					<button class="_finishQuest button button__primary">Я закончил раньше</button>
				</div>
				<div class="quests_ui_workbench_main">
					{{>editor candidate=quests_activeCandidate quest=startedQuest}}
				</div>
			</div>
		</div>
	</div>

</template>