<template name="quests_candidate_page">
	<div class="quests_candidate_page">
		<div class="quests_candidate_page_hero flex_col">
			<div class="flex_item">
				<div class="quests_candidate_page_hero_content">
					<h2>Добро пожаловать, <strong>{{quests_activeCandidate.name}}</strong></h2>
					<h3>Вакансия: <strong>{{quests_activeJob.title}}</strong></h3>
					<hr>
					<br>
					<p>
						Тестовое задание состоит из {{welcomeInfo.count}} задач и займет {{welcomeInfo.duration}} минут.
					</p>

					<p>
						После того, как вы нажмете кнопку "Начать выполнение задания", возможности приостановить тестирование
						уже не будет.
					</p>

					<p>
						Для решения задачи используйте редактор на странице, а не внешние редакторы. Ваша
						активность в редакторе логируется и помогает нам видеть ход ваших размышлений при оценке.
					</p>

					<p>
						Удачи!
					</p>

					<p>
						<button class="_start button">Начать выполнение задания</button>
					</p>

				</div>
			</div>
		</div>
	</div>
</template>