<template name="quests_candidate_form">
	{{#form onSubmit=onSubmit doc=doc}}
		<div class="form_input">
			<input class="input" name="name" type="text" data-regex=".+" placeholder="Имя кандидата">
		</div>
		<div class="form_input">
			<input class="input" name="email" type="text" data-regex="[@]+" placeholder="Электронная почта">
		</div>
		<div class="form_input">
			<button class="button" type="submit">Сохранить</button>
		</div>
	{{/form}}
</template>