.quests_candidate_thankyou_page
{
  display:         flex;
  height:          100%;
  padding:         4rem;

  flex-direction:  column;
  align-items:     center;
  justify-content: center;

  text-align:      center;

}