<template name="quests_candidate_thankyou_page">
	<div class="quests_candidate_thankyou_page">
		<h2>Тестирование окончено, спасибо!</h2>
		<h3>После проверки мы обязательно сообщим вам результат! Обычно это занимает 2-3 дня.</h3>
	</div>

</template>